
<div class="container-fluid bg-info p-2 mt-3">
<h1 class="p-3">Welcome user_name {{user}}</h1>
</div>

<form class="company-info-form row g-3 p-4">
<!-- NAME -->
  <div class="col-md-4">
    <label for="company-name" class="form-label">Business Name</label>
    <input name="company-name" type="text" class="form-control" value="{{company.company_name}}" id="company-name">
  </div>
<!-- Address -->
  <div class="col-4">
    <label for="address" class="form-label">Address</label>
    <input name="address" type="text" class="form-control" value="{{company.address}}" id="address" placeholder="1234 Main St">
  </div>
<!-- Phone Number -->
  <div class="col-4">
    <label for="phone" class="form-label">Phone</label>
    <input name="phone" type="text" class="form-control" value="{{company.phone}}" id="phone" placeholder="9058524562">
  </div>
<!-- Company Email -->
  <div class="col-4">
    <label for="company-email" class="form-label">Business Email</label>
    <input name="company-email" type="text" class="form-control" value="{{company.company_email}}" id="company-email" placeholder="company@gmail.com">
  </div>
<!-- website -->
  <div class="col-4">
    <label for="website" class="form-label">Website</label>
    <input name="website" type="text" class="form-control" value="{{company.website}}"id="website" placeholder="www.test.com">
  </div>
<!-- Industry -->
    <div class="col-md-4">
    <label for="industry" class="form-label">Industry</label>
    <select name="industry" class="form-select  mb-3" id="industry" value="{{company.industry.industry_name}}" aria-label=".form-select-lg example">
      <option selected>Choose a industry...</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
  </div>
<!-- About Us -->
  <div class="col-md-12">
    <label for="about" class="form-label">About Us</label>
    <textarea name="about" class="form-control" id="about">{{company.about}}</textarea>
  </div>
<!-- Hours -->
<div class="container-fluid mt-3">
    <div class="row mt-3">
    <div class="col">
    <h4>Business Hours: </h4>
    </div>
    <div class="col">
    <label for="mon" class="form-label">Mon</label>
    <input type="text" class="form-control" value="{{company.hour.mon}}" id="mon"> 
    </div>
    <div class="col">
    <label for="tues" class="form-label">Tues</label>
    <input type="text" class="form-control" value="{{company.hour.tues}}" id="tues">
    </div>
    <div class="col">
    <label for="wed" class="form-label">Wed</label>
    <input type="text" class="form-control" value="{{company.hour.wed}}" id="wed">
    </div>
    <div class="col">
    <label for="thurs" class="form-label">Thurs</label>
    <input type="text" class="form-control" value="{{company.hour.thurs}}" id="thurs">
    </div>
    <div class="col">
    <label for="fri" class="form-label">Fri</label>
    <input type="text" class="form-control" value="{{company.hour.fri}}" id="fri">
    </div>
    <div class="col">
    <label for="sat" class="form-label">Sat</label>
    <input type="text" class="form-control" value="{{company.hour.sat}}" id="sat">
    </div>
    <div class="col">
    <label for="sun" class="form-label">Sun</label>
    <input type="text" class="form-control" value="{{company.hour.sun}}" id="sun">
    </div>
</div>
</div>
<!-- Products -->
<div class="container-fluid mt-3">
<h4 class="mt-3"> List your products and/or services:</h4>
<div class="row">
 <div class="col-md-4">
    <label for="product-name" class="form-label">Products /
    Service</label>
    <input type="text" class="form-control" value='no' id="product-name" placeholder="item-1">
  </div>
<!-- Products description -->
  <div class="col-md-8">
    <label for="description-text" class="form-label">Product Description</label>
    <textarea name="description-text" class="form-control" id="description-text">no</textarea>
  </div>
  </div>
</div>
<!-- Save button -->
<div class="row" >
    <div class="col-11 d-flex justify-content-end mt-4">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
<!-- Update button 
<div class="col-1 d-flex justify-content-end mt-4">
    <button type="submit" class="btn btn-primary">Update</button>
  </div> -->
</div>
</form>

<script src="/javascript/add-company.js"></script>